.dropdown-item.float-right,
.dropdown-item:active {
    background-color: white;
    color: black;
}

html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* #renderCanvas {
    position: relative;
    width: 100%;
    height: 100%;
    touch-action: none;
} */

.form-group {
    /*float: right;
    text-align: left;*/
    font-size: 100%;
    width: 100%;
}

.container-fluid {
    width: 100%;
    height: 100%;
    background-color: #D1D1FC;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #007bff;
    width: 100%;
    z-index: 1;
}

.subnav:hover .subnav-content {
    display: block;
}

.ScrollStyle {
    max-height: 500px;
    overflow-y: scroll;
}

.noticeLabel {
    color: orange;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    position: fixed;
}

.menu {
    float: right;
    text-align: left;
    font-size: 120%;
    width: 1%;
}

.main {
    position: relative;
    width: 83%;
    height: 100%;
}

.checkBox {
    width: 20px;
    height: 20px;
}

#fpsLabel {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #999;
    cursor: default;
}

#modeLabel {
    position: absolute;
    right: 100px;
    top: 20px;
    color: #999;
    cursor: default;
}